
.container {
  max-width: 721px;
  margin: 0 auto 5rem;
  padding: 0 2rem;

  button {
    background: transparent;
    border: none;
    color: var(--pink-500);
    font-size: 1.125rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.posts {
  a {
    display: block;
    margin-bottom: 3rem;

    text-decoration: none;

    strong {
      font-size: 1.75rem;
      font-weight: bold;
      color: var(--white);
      line-height: 2.125rem;
      margin-bottom: 0.8rem;
      transition: 0.2s;
    }

    p {
      font-size: 1.125rem;
      color: var(--gray-500);
      line-height: 1.375rem;
      margin-bottom: 1.5rem;
    }

    div {
      display: flex;
      font-size: 0.875rem;
      color: var(--gray-500);

      time {
        margin-right: 1.5rem;
        svg {
          margin-right: 0.5rem;
        }
      }

      span {
        svg {
          margin-right: 0.5rem;
        }
      }
    }

    &:hover strong {
      color: var(--pink-500);
    }
  }

}

.preview {
  height: 3.625rem;
  max-width: 721px;
  width: 100%;
  margin: 5rem auto ;
  border-radius: 5px;
  background: var(--gray-500);
  cursor: pointer;

  &:hover {
    filter: brightness(1.05);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;

  }
}
