.container {
  margin: 0 auto 5rem;

  img {
    max-height: 25rem;
    width: 100%;
    object-fit: cover;
  }

  article {
    max-width: 768px;
    margin: 5rem auto 0;
    padding: 0 2.125rem;

    .postHeader {

      h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.625rem;
        margin-bottom: 1.5rem;
      }

      h1 + div {
        display: flex;
        time {
          display: flex;
          align-items: center;
          margin-right: 1.5rem;

            svg {
            margin-right: 0.5rem;
          }
        }
        span {
          display: flex;
          align-items: center;
          margin-right: 1.5rem;

          svg {
            margin-right: 0.5rem;
          }

        }
      }
    }

    .postContent {
      margin-top: 4rem;

      h2 {
        margin: 4rem 0;
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.575rem;
        margin-bottom: 2rem;
      }

      a {
        color: var(--pink-500);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          filter: brightness(1.2);
        }
      }

      ul{
        margin-bottom: 2rem;
      }

      li {
        padding: 0.3rem 0;
      }
    }
  }
}

