.content {
  max-width: 700px;
  margin: 5rem auto 4rem;
  padding: 0 2rem;

  a {
    display: flex;
    text-decoration: none;
    color: var(--white);

    h1 {
      margin-left: 0.5rem;

      strong {
        color: var(--pink-500);
      }
    }
  }
}
